/* @font-face {
    font-family: 'Miandra GD';
    src: url('./fonts/miandra-gd.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
  } */
  
  /* body {
    font-family: 'Roboto', sans-serif;
  }
   */