/* .menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: none;
  }
   */
  /* .menu-icon {
    fill: white;
  } */
  
  /* Custom styles for the open state */
  /* .menu-button.open .menu-icon {
    fill: #333; 
  } */
  
  /* Add more styles as needed for the open state, e.g., animation, etc. */
  .logo-image {
    width: 100px; /* You can adjust this value as needed to increase or decrease the logo size */
    height: 100px; /* Make sure to maintain the aspect ratio if you are changing the logo dimensions */
  }