@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';

 

body {
  font-family: 'Lora', serif; /* Example using Lora */
}




/* global.css or in your component file */


/* global.css or in your component file */
 .mission-container {
  /* Add styles specific to the mission container */
  background-color: #f8f8f8; /* Example background color */
  padding: 20px; /* Example padding */
  border-radius: 8px; /* Example border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow for depth */
}

/* Style the heading within the mission container */
 .mission-container h2 {
  color: black; /* Example text color for the heading */
}

/* Optional: Add styles for the paragraph within the mission container */
.mission-container p {
  margin-top: 10px; /* Example margin-top for spacing */
}

.high-contrast {
  background-color: black;
  color: white;
}
.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: yellow;
}

@tailwind base;
@tailwind components;
@tailwind utilities;